h1 {
  color:#E53D00;
   font-size:75px;
   font-family: 'Times New Roman '
  
}
body{
  background: linear-gradient(to bottom, #403D58, #7221B0, #2B409B);
}


   img:hover{
     border:solid 10px black
  }
h1:hover{
  color:blue;
  font-family:'Brush Script MT'
}
p{
  color:#FFE900;
}
p:hover{
  color:purple;
}
.rainbow-text{
  font-size:30px;
  
}
nav{
  list-style-type: none; 
  position:fixed;
    background-color:purple;
  top:0;
  
  left:0;
}
li{
  display:inline;
  padding:20px;
  
}
li:hover{
  background-color:gold;
}
  a{
    text-decoration:none;
    
  }
.Star1{
  animation: rotation 5s infinite linear;
  
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
